body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px; }
  
  a {
    color: #D35400; }
  
  hr {
    border-top: 1px solid #1b5479; }
  
  .switch {
    display: inline-block;
    margin: 4px;
    padding: 2px 6px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ddd; }
    .switch.showing {
      background-color: #287fb8; }
  
  /** Sidebar display */
  @media (max-width: 990px) {
    .sidebar {
      width: 65%;
      position: fixed;
      top: 0;
      left: 35px;
      bottom: 0;
      z-index: 1000;
      padding: 1%;
      background: rgba(0, 0, 0, 0.8);
      color: #3694d3; }
      .sidebar .header {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 15%; }
        .sidebar .header .blue {
          font-size: 1.5em;
          margin-left: 0.1em; }
        .sidebar .header .orange {
          font-size: 40px;
          line-height: 0.8em; }
      .sidebar .orange {
        color: #D35400; }
      .sidebar .loading {
        margin-top: 30%;
        margin-left: 0.1em;
        width: 100%;
        font-size: 0.8em;
        text-align: center; }
        .sidebar .loading .sk-spinner {
          background-color: #D35400; }
        .sidebar .loading p {
          margin-top: 1em; }
      .sidebar .marker-info {
        margin-left: 0.1em;
        width: 100%;
        font-size: 1em; }
        .sidebar .marker-info .event {
          font-weight: 700;
          font-size: 0.7em;
          text-transform: uppercase;
          overflow: auto;
          height: 160px; }
        .sidebar .marker-info .date {
          font-weight: 300;
          font-size: 0.95em; }
        .sidebar .marker-info .address {
          font-size: 0.9em; }
        .sidebar .marker-info .city {
          font-size: 0.8em;
          font-weight: 700; }
      .sidebar .controls {
        width: 100%;
        font-size: 0.8em;
        text-transform: uppercase;
        font-weight: 700;
        text-align: left;
        cursor: pointer;
        padding-bottom: 15%; }
        .sidebar .controls .lbl {
          font-size: 0.8em;
          font-weight: 300;
          padding-bottom: 1%; }
        .sidebar .controls a {
          color: #1b5479;
          padding-top: 0.1em;
          padding-bottom: 0.1em; }
        .sidebar .controls a:hover, .sidebar .controls a:focus {
          color: #3694d3;
          text-decoration: none; }
      .sidebar .footer {
        width: 65%;
        font-size: 0.7em;
        position: fixed;
        bottom: 0;
        left: 25px;
        text-align: center;
        display: none;
        /*background-color: #000;
        line-height: 30px;*/
       } }
  
  @media (min-width: 990px) {
    .sidebar {
      width: 20%;
      position: fixed;
      top: 0;
      left: 35px;
      bottom: 0;
      z-index: 1000;
      padding: 1%;
      background: rgba(0, 0, 0, 0.8);
      color: #3694d3; }
      .sidebar .header {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 5%; }
        .sidebar .header .blue {
          font-size: 2em;
          margin-left: 0.1em; }
        .sidebar .header .orange {
          font-size: 2.9em;
          line-height: 0.8em; }
      .sidebar .orange {
        color: #D35400; }
      .sidebar .loading {
        margin-top: 5%;
        margin-left: 0.1em;
        width: 100%;
        font-size: 0.8em;
        text-align: center; }
        .sidebar .loading .sk-spinner {
          background-color: #D35400; }
        .sidebar .loading p {
          margin-top: 1em; }
      .sidebar .marker-info {
        margin-top: 5%;
        margin-left: 0.1em;
        width: 100%;
        font-size: 1.3em; }
        .sidebar .marker-info .event {
          font-weight: 700;
          text-transform: uppercase;
          overflow: auto;
          height: 220px; }
        .sidebar .marker-info .date {
          font-weight: 300;
          font-size: 0.95em; }
        .sidebar .marker-info .address {
          font-size: 0.9em; }
        .sidebar .marker-info .city {
          font-size: 0.8em;
          font-weight: 700; }
      .sidebar .controls {
        width: 100%;
        font-size: 1em;
        margin-bottom: 5%;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        cursor: pointer; }
        .sidebar .controls .lbl {
          font-size: 0.8em;
          font-weight: 300;
          padding-bottom: 1%; }
        .sidebar .controls a {
          color: #1b5479; }
        .sidebar .controls a:hover, .sidebar .controls a:focus {
          color: #3694d3;
          text-decoration: none; }
      .sidebar .footer {
        width: 20%;
        font-size: 0.8em;
        position: fixed;
        bottom: 0;
        left: 25px;
        text-align: center;
        /*background-color: #000;
        line-height: 30px;*/
      } }

  
  /** Map Styling */
  .leaflet-control-container.leaflet-left {
    right: 0; }
  
  .marker-cluster-small {
    background-color: rgba(54, 148, 211, 0.3); }
    .marker-cluster-small div {
      background-color: rgba(54, 148, 211, 0.8); }
    .marker-cluster-small span {
      color: white; }
  
  .marker-cluster-medium {
    background-color: rgba(40, 127, 184, 0.3); }
    .marker-cluster-medium div {
      background-color: rgba(40, 127, 184, 0.8); }
    .marker-cluster-medium span {
      color: white; }
  
  .marker-cluster-large {
    background-color: rgba(33, 104, 151, 0.3); }
    .marker-cluster-large div {
      background-color: rgba(33, 104, 151, 0.8); }
    .marker-cluster-large span {
      color: white; }
  
  /** Link effect styling */
  .cl-effect-1 a::before, .cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    transition: -webkit-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s; }
  
  .cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    transform: translateX(20px); }
  
  .cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px); }
  
  .cl-effect-1 a:hover::before, .cl-effect-1 a:hover::after, .cl-effect-1 a:focus::before, .cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }

.leaflet-touch .leaflet-control-layers-toggle {
  width: 30px;
  height: 30px;
}

.setinha {
  padding: 10px 10px 10px 10px;
  color: #fff;
}

/* SIDEBAR */
.main-menu:hover,nav.main-menu.expanded {
  /*width:250px;*/
  overflow:visible;
  }
  
  .main-menu {
  background:#212121;
  /*border-right:1px solid #e5e5e5;*/
  position:absolute;
  top:0;
  bottom:0;
  height:100%;
  left:0;
  width:35px;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:1000;
  }
  
  .main-menu>ul {
  margin:7px 5px;
  }
  
  .main-menu li {
  position:relative;
  display:block;
  }
  
  .main-menu li>a {
  position:relative;
  display:table;
  border-collapse:collapse;
  border-spacing:0;
  color:#999;
   font-family: arial;
  font-size: 14px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;
    
  }
  
  .main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width:60px;
  height:36px;
  text-align:center;
  vertical-align:middle;
  font-size:18px;
  }
  
  .main-menu .nav-text {
  position:relative;
  display:table-cell;
  vertical-align:middle;

    font-family: 'Titillium Web', sans-serif;
  }
  
  .main-menu>ul.logout {
  position:absolute;
  left:0;
  bottom:0;
  }
  
  .no-touch .scrollable.hover {
  overflow-y:hidden;
  }
  
  .no-touch .scrollable.hover:hover {
  overflow-y:auto;
  overflow:visible;
  }
  
  a:hover,a:focus {
  text-decoration:none;
  }
  
  nav {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  }
  
  nav ul,nav li {
  outline:0;
  margin:0;
  padding:0;
  }
  .main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
  color:#fff;
  /*background-color:#5fa2db;*/
  }
  